.d-flex{
    background-color:darkcyan;
    border: 20px;
    border-radius: 15px;
    height:90%;
    width:30%;
    margin-top:7%;
    margin-left: 35%;
    padding: 0;
}
.bor{
    border-radius: 10px;
}
.text{
    position: absolute;
    font-style: italic;
    font-family: 'Tangerine', sans-serif;
    text-shadow: 2.5px 2.5px 2.5px black;
    margin-left: 38%;
}
.frm{
    margin:15px;
}
.text-md-center{
    margin-top:10px;
    color:darkgreen;    
    font-family: 'Acme',sans-serif; 
}
.br{
    margin: 0;
    padding: 0;
}
.cen{
    margin-left: 40%;   
}

.sp{
    margin-right: 100%;
    color: crimson;
}
/*.po{
    margin-right:100%;
}*/

.te:hover{
    color:darkcyan;
    text-decoration:none; 
}
.fc{
    margin-right:30px;
}